:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: blue
}

::-webkit-meter-even-less-good-value {

    color: blue
}

.simple-selector:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: red
}

.simple-selector::-webkit-meter-even-less-good-value {

    color: red
}

.compound.selector:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: green
}

.compound.selector::-webkit-meter-even-less-good-value {

    color: green
}

.some .complex.selector:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: yellow
}

.some .complex.selector::-webkit-meter-even-less-good-value {

    color: yellow
}

.some .selector .list, .of .complex.selectors:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: black
}

.some .selector .list, .of .complex.selectors::-webkit-meter-even-less-good-value {

    color: black
}

.some.other .selector.list:-moz-meter-sub-sub-optimum::-moz-meter-bar, .of .complex.selectors:-moz-meter-sub-sub-optimum::-moz-meter-bar {

    color: white
}

.some.other .selector.list::-webkit-meter-even-less-good-value, .of .complex.selectors::-webkit-meter-even-less-good-value {

    color: white
}
