::-webkit-meter-suboptimum-value {

    color: blue
}

.simple-selector::-webkit-meter-suboptimum-value {

    color: red
}

.compound.selector::-webkit-meter-suboptimum-value {

    color: green
}

.some .complex.selector::-webkit-meter-suboptimum-value {

    color: yellow
}

.some .selector .list, .of .complex.selectors::-webkit-meter-suboptimum-value {

    color: black
}

.some.other .selector.list::-webkit-meter-suboptimum-value, .of .complex.selectors::-webkit-meter-suboptimum-value {

    color: white
}
